#hero {
  background: url("./../../assets/test_banner.png") no-repeat;
  background-position: left left;
  background-repeat: no-repeat;
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
}

#hero img {
  width: 100%;
}

#mission div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mission .mission-title {
  text-align: center;
  font: 600;
}

#mission #mission-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  width: 100%;
}

.mission-container {
  margin: 2rem;
  border-radius: 5px;
  border: 2px solid #daffda;
  background-color: #eeffee;
  height: 100% !important;
  box-shadow: 0 0 12px #b1edb1;
}

.mission-containter img {
  width: 20% !important;
  height: 20% !important;
}

/* This selects the header in the mission section */
#mission h2,
#about h2,
#events h2 {
  margin-top: 40px;
  font-size: 3rem;
  font-weight: 600;
  color: lightgrey;
  text-shadow: #b1edb1 0 0 10px;
}

#events h2 a {
  text-decoration: none;
  color: lightgrey;
}

#events h2:hover {
  text-decoration: underline;
}

#events .events-images-slider {
  display: flex;
  justify-content: center;
  width: 50%;
}

#events .events-images-slider img{
  height: 70%;
}
/* This selects paragraphs in the mission section */
#mission p {
  width: 90%;
}

#about,
#events {
  display: flex;
  flex-direction: column !important;
}

.about-us-title h2 {
  text-align: center;
}

#about-us img {
  width: 400px !important;
  height: 250px !important;
  margin: 0px 20px;
}

#about-us {
  color: #eeffee;
  display: flex;
  align-items: center;
}

.divider {
  background-color: #eeffee;
  margin: 0;
  border: 1px solid #eeffee;
}

#sponsors {
  box-sizing: border-box;
  padding: 1rem;
  background-color: var(--peach);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

#sponsor-logos {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}
